####Cron Script#####
#
# Place in your systems cron.d folder.  Most systems it is at /etc/cron.d.
#
#

10 0-23/4 * * * root perl /usr/local/licor_sync/bin/device_sync.pl
00 3 * * * root perl /usr/local/licor_sync/bin/daily_sort.pl
00 4 * * * root perl /usr/local/licor_sync/bin/daily_sort_batch.pl
00 2 4 * * root perl /usr/local/licor_sync/bin/remote_delete.pl
00 1 * * * root perl /usr/local/licor_sync/bin/fileserver_sync.pl
30 7 * * * root perl /usr/local/licor_sync/bin/check_inactive_towers.pl
