local_data_dir: 
backup_data_dir:
backup_server:
backup_user:
inactivity_threshold: 1209600 # 2 weeks
inactivity_email_to:
email_from:
smtp_host: localhost
smtp_port: 25
smtp_username:
smtp_password:
smtp_tls: false
smtp_ssl: false
